@{
    ViewBag.Title = "Inicio de Sesión";
}

<div class="jumbotron" style="background:#ffffff">
    <h2>Bienvenido al Sistema de Asignación de Guías de la OET</h2>

    <div class="row">
        
        <div class="col-md-2">


        </div>

        <div class="col-md-5">

            <br />

        </div>

        <div class="col-md-4">

            <br /><br />
            <p style="text-align:justify">
                Este sistema le permitirá administrar los guías internos y externos de las diferentes estaciones de la organización
                así como asignarlos a las distintas reservaciones que se dan durante el año para una mejor administración de los
                recursos.
            </p>

        </div>

    </div>

</div>
