
    @{
        ViewBag.Title = "Inicio";
        Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    }
<i class="fa fa-pencil" aria-hidden="true"></i>

<button type="button" class="btn btn-lg btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i><span class="sr-only">Crear</span></button>